.profile-box-container {
    display: flex;
    justify-content: center;
    width: 100vw;
}

.profile-page {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 0%;
}

.profile-title {
    font-size: xx-large;
    margin-bottom: 30px;
    margin-top: 30px;
}

.profile-info {
    font-size: large;
    margin-top: 20px;
}

.profile-grid {

    font-size: large;
    grid-auto-rows: 100px;
    grid-column: 3;
    column-gap: 50px;
    display: grid;
    margin-top: 20px;
    margin-bottom: 20px;
    grid-template-columns: 200px 200px 200px;
    align-items: center;
}

.profile-grid-item {
    border-color: black;
    border: 4px #FF841A solid;
    background: #D7D7D7;
    border-radius: 25px;
    padding-top: 5%;
    padding-bottom: 5%;
}

.profile-count-title {
    font-size: large;
}
