.register-page {
    min-height: 100vh;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 0%;
    margin-bottom: -30%;
}

/*
    this is a media query, it will only apply to mobile
*/
@media screen and (max-width: 850px) {
    .register-page {
        margin-left: 10%;
        margin-right: 10%;
    }
}

.register-entry-title {
    display: block;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    margin-top: -10px;
}

.register-entry-box {
    background-color: antiquewhite;
    background-color: set;
}

.register-submit {
    background-color: #FF841A;
    width: 300px;
    border-radius: 10px;
}

.register-preview-title {
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.register-create-account {
    margin-bottom: 20px;
}

.register-pass-wrapper {
    position: relative;
    display: flex;
    margin-bottom: 14px;
}

i {
    position:absolute;
    top: 18%;
    right: 5%;
}